html, body {
    margin: 0;
}
table {
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}
table tbody :hover td {
    background-color: rgba(211, 211, 211, 0.753);
}
table thead{
    background-color: black;
    color: #f1f1f1;
}
h1,h3{
    color: #f1f1f1;
}
table{
    border: solid 1px;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
    color: rgb(1, 48, 48);
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
    color: #f1f1f1;
}